<%= div_for comment do %>
	<p>
		<strong>Posted: <%= time_ago_in_words(comment.created_at) %> age</strong><br />
		<%= h(comment.body) %>
	</p>
	<%= render(inline: block_after, locals: {comment: comment}) if defined? block_after	%>
<% end %>